*{
	margin: 0;
	padding: 0;
}

.bg{
	/* The image used */
	background-image: url("../../Assets/pict/disdukcapil.gif");
	background-repeat: cover; 
	background-size: cover;
	height: 100vh;
	position: relative;
}

.text{
	position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
	
}